<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>ComingSoon - Bootstrap Coming Soon Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='img/favicon.png') }}" rel="icon">
  <link href="{{ url_for('static', filename='img/apple-touch-icon.png') }}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: ComingSoon - v4.8.1
  * Template URL: https://bootstrapmade.com/comingsoon-free-html-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
  <div id="loader" class="invisible"></div>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex flex-column align-items-center">

      <h1>욕설 절단기</h1>
      <h2>
        <div>목표: 기존 금칙어 기반 필터링에서 벗어나 ML을 적용하여 다양한 상황에 대처</div>
      </h2>
      <div class="countdown d-flex justify-content-center" data-count="2023/12/5">
        <div style="display: flex; align-items: center; justify-content: center;">
          <h3>욕설</h3>
        </div>
        <div>
          <h3 id="probability"></h3>
          <h4>%</h4>
        </div>
        <div id="happy" class="invisible">
          <h3>😀</h3>
        </div>
        <div id="good">
          <h3>😶</h3>
        </div>
        <div id="angry" class="invisible">
          <h3>🤬</h3>
        </div>
      </div>

      <div class="subscribe">
        <h4>욕설 포함 여부를 판별하고자 하는 문장을 입력하세요</h4>
        <form method="post" role="form" class="php-email-form" id="form" onsubmit="return false">
          <div class="subscribe-form">
            <input type="text" name="chat" id="chat" style="width:80%; border:none;"><input type="button" id="submit"
              value="확인" onclick="test()" readonly>
          </div>
          <div class="mt-2">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your notification request was sent. Thank you!</div>
          </div>
        </form>
      </div>
    </div>
  </header><!-- End #header -->

  <main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row content">
          <div class="col-lg-6">
            <h2>컴퓨터공학과 Bixbies 팀</h2>
            <h3>* 프로젝트 내용</h3>
            <h3>
              <div>
                <p style="font-weight: bold;">CNN</p>: 일차적으로, 특수문자를 통한 욕설 필터링 우회시도에 대해 이미지 처리를 통해 한글로 복원한다.
              </div>
              <div>
                <p style="font-weight: bold;">RoBERTa</p>: 이후 금칙어 사전을 통한 필터링으로 거르지 못하는 욕설을 문맥으로 판단한다.

              </div>
            </h3>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <ul>
              <li><i class="bi bi-check"></i> VGG16 구조를 기반으로 독자적인 모델을 생성하여 사용. </li>
              <li><i class="bi bi-check"></i> 입력된 텍스트 중 한글과 띄어쓰기를 제외한 다른 텍스트를 이미지 처리 후 CNN으로 인식. CNN으로 인식된 텍스트를 오토마타를 이용하여 한글 음절로 재조립.</li>
              <li><i class="bi bi-check"></i> 텍스트를 단순한 데이터 구조가 아닌 인간이 인지하는 형태로 변환하여 RoBERTa에서 판단을 할 때, 보다 인간의 판단에 가까운 판단을 할 수 있도록 변경하는 역할을 수행.</li>
            </ul>
            <ul>
              <li><i class="bi bi-check"></i> 기존 RoBERTa 모델은 보통 영어를 기반으로 학습 되었기에 한글 기반의 토크나이저를 새로 학습 시켜야 했음 </li>
              <li><i class="bi bi-check"></i> Mecab 형태소 분석기를 이용해 약 3만개의 데이터 셋의 단어들을 분리하고, 그것을 BertWordPieceTokenizer에 학습시킴 </li>
              <li><i class="bi bi-check"></i> 그리고 해당된 RoBERTa에 넣어 문맥을 고려한 욕설을 판단할 수 있도록 하였다 </li>
            </ul>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>ComingSoon</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/comingsoon-free-html-bootstrap-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End #footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script type="text/javascript" src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  <style>
    #loader {
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: 1;
      width: 150px;
      height: 150px;
      margin: -75px 0 0 -75px;
      border: 16px solid #f3f3f3;
      border-radius: 50%;
      border-top: 16px solid #cc2a5a;
      width: 120px;
      height: 120px;
      -webkit-animation: spin 2s linear infinite;
      animation: spin 2s linear infinite;
    }


    @-webkit-keyframes spin {
      0% {
        -webkit-transform: rotate(0deg);
      }

      100% {
        -webkit-transform: rotate(360deg);
      }
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }
  </style>

</body>

</html>